* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-top: 3rem;
}

/* special css */
.container {
  max-width: 112.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #535353;
  font-size: 2rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.cta,
.last-section button {
  padding: 1rem 1.5rem;
  background-color: #1fdde0;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.fa-tint {
  font-size: 80rem;
}

.hero-img {
  max-width: 100rem;
}

.hero-img img {
  width: 100%;
}

.header-img {
  font-size: 2.4rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 8rem 2rem;
}

.hero-text h1 {
  font-weight: 900;
  font-size: 5rem;
  color: #535353;
  letter-spacing: -0.05rem;
  line-height: 5rem;
  padding-bottom: 2rem;
}

.hero-text p {
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
}

.hero-text button {
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: #1fdde0;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.hero-page {
  background-color: #e9fcfc;
  margin-bottom: 2rem;
}

.centered-hero-text {
  text-align: center;
  padding: 0 0 5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  padding: 2rem;
  min-height: 15rem;
  gap: 2rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
  font-size: 1.5rem;
}

ion-icon {
  font-size: 6rem;
  color: #00000080;
}

.cta-3 button {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: none;
  margin: 0 auto;
  background-color: #1fdde0;
  color: #fff;
  cursor: pointer;
  margin-bottom: 4rem;
  font-size: 1.7rem;
}

.testimonials {
  margin-bottom: 4rem;
}

.testimonials h4 {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: #19b1b3;
}

.testimonial-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.testimonial-boxes img {
  width: 9rem;
  border: 5px solid #fff;
  border-radius: 50%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 3rem;
  font-size: 2rem;
  gap: 3rem;
  line-height: 3.2rem;
  text-align: center;
  border-radius: 2rem;
}

.personal-info h5 {
  color: #1cc7ca;
}

.last-section {
  background-color: #e9fcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2.2rem;
}

.last-section p {
  font-size: 1.5rem;
}

.last-section h4 {
  font-size: 3rem;
  color: #535353;
}

button.mobile-menu {
  display: none !important;
}

button.mobile-menu div {
  width: 4rem;
  height: 0.4rem;
  background-color: #535353;
  transition: all 200ms ease-in;
  z-index: 2;
}

button.mobile-menu div.top.move {
  transform: translateY(220%) rotate(45deg);
}

button.mobile-menu div.middle.move {
  opacity: 0;
}

button.mobile-menu div.bottom.move {
  transform: translateY(-220%) rotate(-45deg);
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: #1cc7ca;
  padding: 2rem;
  color: white;
}

.footer img {
  width: 1.8rem;
  height: auto;
}

.hide {
  display: none;
}
