* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 30px;
}

/* special css */
.container {
  max-width: 1125px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #535353;
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.cta {
  padding: 10px 15px;
  background-color: #1fdde0;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.fa-tint {
  font-size: 800px;
}

.hero-img img {
  width: 500px;
}

.header-img {
  font-size: 24px;
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 80px 20px;
}

.hero-text h1 {
  font-weight: 900;
  font-size: 50px;
  color: #535353;
  letter-spacing: -0.5px;
  line-height: 50px;
  padding-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  padding-bottom: 25px;
}

.hero-text button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: #1fdde0;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hero-page {
  background-color: #e9fcfc;
  margin-bottom: 20px;
}

.centered-hero-text {
  text-align: center;
  padding: 0 0 50px 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.infos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 20px;
  padding: 20px;
  height: 150px;
  gap: 20px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.info-section h2 {
  margin-bottom: 20px;
}

.info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

ion-icon {
  font-size: 40px;
  color: #00000080;
}

.cta-3 button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  width: 200px;
  margin: 0 auto;
  background-color: #1fdde0;
  color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
}

.testimonials {
  margin-bottom: 40px;
}

.testimonials h4 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #19b1b3;
}

.testimonial-boxes {
  display: flex;
  gap: 20px;
}

.testimonial-boxes img {
  width: 90px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  /* height: 400px; */
  padding: 30px;
  font-size: 20px;
  gap: 30px;
  line-height: 32px;
  text-align: center;
  border-radius: 20px;
}

.personal-info h5 {
  color: #1cc7ca;
}
